<h3><a class="btn btn-secondary" href="/personal"><i class="fa fa-plus"></i>Create New</a>User Infomation</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each personallist}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.address}}</td>
            <td>
                <a href="/personal/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>1</a>
                <a href="/personal/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i>2</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>